@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    /* color: beige; */
}

body {
    min-height: 100vh;
    min-width: 100vw;
    background-color: #000C23;
    position: relative;
}

.contenedor {
    height: 300px;
    width: 500px;
    position: absolute;
    border: 5px solid #FF5F5F;
    /* border-image: linear-gradient(45deg, #FF5F5F, #FFFFFF) 1; */
    border-radius: 20px;
    top: calc(50% - 300px / 2);
    left: calc(50% - 500px / 2);
}

.card {
    position: relative;
    margin: auto;
    height: 100%;
    width: 100%;
    border-radius: 15px;
    background-color: #000C23;
}

.circulo {
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    /* background-color: #0094ff; */
}

.circulo--1, .circulo--2 {
    background-color: #0094ff;
}

.circulo--1 {
    top: calc(50% - 300px / 2 - 200px / 2);
    left: calc(50% - 500px / 2 - 200px / 2);
}

.circulo--2 {
    top: calc(50% + 300px / 2 - 300px / 2);
    right: calc(50% - 500px / 2 - 300px / 2);
    height: 300px;
    width: 300px;
}

.linea {
    position: absolute;
    top: calc(50% - 200px);
    left: calc(50% - 550px);
    height: 600px;
    width: 600px;
    background-image: url(../resources/linea.png);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.text {
    width: 250px;
    position: absolute;
    left: 25px;
    bottom: 25px;
    color: beige;
}

.datos {
    position: relative;
    height: 25px;
    margin: auto auto;
}

.datos > * {
    display: inline-block;
}

.nombre, .fecha {
    position: absolute;
    font-weight: 100;
}

.nombre {
    left: 0;
}

.fecha {
    right: 0;
}

.cuenta {
    /* text-align: justify; */
    word-spacing: 7px;
}

.glass {
    width: 100%;
    position: absolute;
    border: 20px;
    background-color: rgba(128, 124, 124, 0.2);
    box-shadow: 0 8px 32px rgba(31, 38, 135, 0.37);
    backdrop-filter: blur(20px);
}

